---
- name: Ensures traefik dir exists
  file:
    path: "{{ traefik_dir }}"
    state: directory
    owner: "{{ traefik_user }}"
    group: "{{ traefik_group }}"

- name: 'Check acme.json exists'
  register: _docker_acme
  stat:
    path: '{{ traefik_dir }}/acme.json'

- name: Ensures acme.json file exists
  file:
    path: "{{ traefik_dir }}/acme.json"
    state: touch
    mode: 0600
    owner: "{{ traefik_user }}"
    group: "{{ traefik_group }}"
  when: _docker_acme.stat is not defined or _docker_acme.stat.exists == false

- name: 'Check hostname file exists'
  register: _docker_hostname
  stat:
    path: '{{ traefik_dir }}/hostname'

- name: Ensures hostname file exists
  copy:
    dest: "{{ traefik_dir }}/hostname"
    content: "{{ traefik_docker_domain }}"
  when: _docker_hostname.stat is not defined or _docker_hostname.stat.exists == false

- name: Adding traefik.yml file
  template:
    src: traefik.yml
    dest: "{{ traefik_dir }}/traefik.yml"
    mode: 0600
    owner: "{{ traefik_user }}"
    group: "{{ traefik_group }}"

- name: Remove old traefik.toml file
  file:
    path: "{{ traefik_dir }}/traefik.toml"
    state: absent

- name: Restart service docker to do next steps
  service:
    name: docker
    state: restarted
  changed_when: false # fix idempotence

- name: Run traefik proxy
  docker_container:
    hostname: traefik
    image: "{{ traefik_image }}"
    labels:
      traefik.backend: traefik
      traefik.frontend.rule: "Host:{{ traefik_hostname }}"
      traefik.port: "8080"
    name: "{{traefik_container_name}}"
#    pull: true
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    recreate: true
    restart_policy: always
    state: "{{ traefik_state }}"
    volumes: '{{ traefik_default_volumes }} + {{ traefik_volumes }}'

- name: Create network
  docker_network:
    appends: true
    driver: overlay
    name: "{{ item }}"
    attachable: true
    connected: traefik
    scope: "{{ traefik_network_scope }}"
    state: present
  with_items: "{{ traefik_networks }}"
  ignore_errors: true
  changed_when: false
